{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "Client Credentials API"
    },
    "host": "api-dem01.noqodi.com",
    "basePath": "",
	"schemes":["https"], 
    "tags": [
        {
            "name": "credentials-controller",
            "description": "Health Controller"
        }        
    ],
    "paths": {
	 "/oauth/token/client-credentials": {
            "post": {
                "tags": [
                    "credentials-controller"
                ],
                "summary": "getAccessToken",
                "operationId": "getAccessTokenUsingPOST api dem01",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/EventTypeResponse"
                            }
                        }
                    }
                },
                "deprecated": false
            }
		}    
    },
    "definitions": {
        "EventResponse": {
            "type": "object",
            "properties": {
                "failureReason": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "webhookData": {
                    "type": "object"
                }
            },
            "title": "EventResponse"
        },
        "EventTypeResponse": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "string"
                }
            },
            "title": "EventTypeResponse"
        },
        "Response": {
            "type": "object",
            "properties": {
                "entity": {
                    "type": "object"
                },
                "metadata": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                },
                "status": {
                    "type": "integer",
                    "format": "int32"
                }
            },
            "title": "Response"
        }
    }
}