{
   "swagger":"2.0",
   "info":{
      "version":"1.0",
      "title":"Payment API"
   },
   "servers": [
        {
            "url": "http://localhost:9088/payment-api"
        }
    ],
   "host":"api-dem01.noqodi.com",
   "basePath": "",
   "schemes":["https"],
   "tags":[
      {
         "name":"balance-inquiry-controller",
         "description":"Balance Inquiry"
      },
      {
         "name":"batch-inquiry-controller",
         "description":"Batch Inquiry"
      },
      {
         "name":"client-config-controller",
         "description":"Client Config Controller"
      },
      {
         "name":"credit-card-payment-controller",
         "description":"Credit Card Payment Controller"
      },
      {
         "name":"credit-card-redirect-controller",
         "description":"Credit Card Redirect Controller"
      },
      {
         "name":"digital-wallet-payment-controller",
         "description":"Digital Wallet Payment Controller"
      },
      {
         "name":"invoice-controller",
         "description":"Handles all types of Invoices"
      },
      {
         "name":"merchant-rest-controller",
         "description":"Create seamless merchant"
      },
      {
         "name":"net-banking-funding-controller",
         "description":"Net Banking Funding Controller"
      },
      {
         "name":"net-banking-payment-controller",
         "description":"Net Banking Payment Controller"
      },
      {
         "name":"net-banking-redirect-controller",
         "description":"Net Banking Redirect Controller"
      },
      {
         "name":"payment-cancel-controller",
         "description":"Payment Cancel Controller"
      },
      {
         "name":"payment-controller",
         "description":"Handles all types of Payments"
      },
      {
         "name":"payment-method-controller",
         "description":"Handles all services around PaymentMethod"
      },
      {
         "name":"payment-transaction-controller",
         "description":"Serves all types of payment transaction related requests"
      },
      {
         "name":"payout-controller",
         "description":"Handles all types of payout"
      },
      {
         "name":"refund-controller",
         "description":"Refund service for Technical & Business"
      },
      {
         "name":"seamless-wallet-controller",
         "description":"Create seamless wallet"
      },
      {
         "name":"service-controller",
         "description":"Service API"
      },
      {
         "name":"voucher-payment-controller",
         "description":"Voucher Payment Rest Service"
      }
   ],
   "paths":{
      "/v2/balances/merchant/{merchantCode}":{
         "get":{
            "tags":[
               "balance-inquiry-controller"
            ],
            "summary":"get balance for merchant",
            "description":"get merchant balance",
            "operationId":"merchantBalanceInquiryUsingGET_3",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"6a2e6e39-b8b1-45ed-9904-dced1f65b29b",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/BalanceInquiryResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/balances/merchant/{merchantCode}/balanceAsOf/{balanceAsOf}":{
         "get":{
            "tags":[
               "balance-inquiry-controller"
            ],
            "summary":"get balance for merchant till provided date",
            "description":"get balance for merchant till provided date",
            "operationId":"merchantBalanceInquiryUsingGET",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"balanceAsOf",
                  "in":"path",
                  "description":"balanceAsOf",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/BalanceInquiryResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/balances/merchant/{merchantCode}/beneficiaries/{beneficiaryList}":{
         "get":{
            "tags":[
               "balance-inquiry-controller"
            ],
            "summary":"get balance for beneficiaries of provided merchants",
            "description":"get balance for beneficiaries of provided merchants",
            "operationId":"merchantBalanceInquiryUsingGET_2",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"beneficiaryList",
                  "in":"path",
                  "description":"beneficiaryList",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/BalanceInquiryResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/balances/merchant/{merchantCode}/beneficiaries/{beneficiaryList}/balanceAsOf/{balanceAsOf}":{
         "get":{
            "tags":[
               "balance-inquiry-controller"
            ],
            "summary":"get balance for beneficiaries of provided merchants as of date provided",
            "description":"get balance for beneficiaries of provided merchants as of date provided",
            "operationId":"merchantBalanceInquiryUsingGET_1",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"balanceAsOf",
                  "in":"path",
                  "description":"balanceAsOf",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"beneficiaryList",
                  "in":"path",
                  "description":"beneficiaryList",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/BalanceInquiryResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/balances/wallet/{walletId}":{
         "get":{
            "tags":[
               "balance-inquiry-controller"
            ],
            "summary":"get balance for customer",
            "description":"get customer balance",
            "operationId":"customerBalanceInquiryUsingGET",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"walletId",
                  "in":"path",
                  "description":"walletId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/BalanceInquiryResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/credit-card/payment/{paymentRequestToken}":{
         "post":{
            "tags":[
               "credit-card-payment-controller"
            ],
            "summary":"creditCardPayment",
            "operationId":"creditCardPaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json;charset=UTF-8"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentMethod",
                  "description":"paymentMethod",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentMethod"
                  }
               },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/credit-card/{paymentRequestToken}":{
         "get":{
            "tags":[
               "credit-card-payment-controller"
            ],
            "summary":"getPaymentInfo",
            "operationId":"getPaymentInfoUsingGET_1",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/digital-wallet/authenticate/{paymentRequestToken}":{
         "post":{
            "tags":[
               "digital-wallet-payment-controller"
            ],
            "summary":"walletPayment",
            "operationId":"walletPaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"userDTO",
                  "description":"userDTO",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/UserDTO"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/digital-wallet/pay/{paymentRequestToken}":{
         "post":{
            "tags":[
               "digital-wallet-payment-controller"
            ],
            "summary":"processWalletSavedCardPayment",
            "operationId":"processWalletSavedCardPaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"creditCardDTO",
                  "description":"creditCardDTO",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/CreditCardDTO"
                  }
               },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/digital-wallet/pay/{paymentRequestToken}/{selectedAccount}":{
         "post":{
            "tags":[
               "digital-wallet-payment-controller"
            ],
            "summary":"processWalletPayment",
            "operationId":"processWalletPaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"selectedAccount",
                  "in":"path",
                  "description":"selectedAccount",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/digital-wallet/{paymentRequestToken}":{
         "get":{
            "tags":[
               "digital-wallet-payment-controller"
            ],
            "summary":"getPaymentResult",
            "operationId":"getPaymentResultUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/inquiry/batch/payments/merchants/{merchantCode}/noqodiBatchCode/{noqodiBatchCode}":{
         "get":{
            "tags":[
               "batch-inquiry-controller"
            ],
            "summary":"Batch payment inquiry",
            "description":"Batch payment inquiry",
            "operationId":"batchPaymentInquiryUsingGET",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"noqodiBatchCode",
                  "in":"path",
                  "description":"noqodiBatchCode",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/invoice":{
         "post":{
            "tags":[
               "invoice-controller"
            ],
            "summary":"Invoice Create Request Service",
            "operationId":"invoiceGenerateUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"command",
                  "description":"command",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/InvoiceCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/invoice/test":{
         "get":{
            "tags":[
               "invoice-controller"
            ],
            "summary":"status",
            "operationId":"statusUsingGET",
            "produces":[
               "*/*"
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/merchant":{
         "post":{
            "tags":[
               "merchant-rest-controller"
            ],
            "summary":"Seamless Merchant Creation",
            "description":"For Merchant creation",
            "operationId":"seamlessUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"merchantV2Command",
                  "description":"merchantV2Command",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/MerchantV2Command"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/merchant/test":{
         "get":{
            "tags":[
               "merchant-rest-controller"
            ],
            "summary":"status",
            "operationId":"statusUsingGET_1",
            "produces":[
               "*/*"
            ],
			 "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    }
			],		
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/merchant/{id}/{merchantCode}":{
         "post":{
            "tags":[
               "merchant-rest-controller"
            ],
            "summary":"Seamless Merchant Update",
            "description":"For Merchant update",
            "operationId":"merchantUpdateUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
               },
               {
                  "name":"id",
                  "in":"path",
                  "description":"id",
                  "required":true,
                  "type":"string"
               },		    	
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"merchantV2Command",
                  "description":"merchantV2Command",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/MerchantV2Command"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/banks":{
         "get":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"getBanksByFeatureWithChannelDetail",
            "operationId":"getBanksByFeatureWithChannelDetailUsingGET",
            "produces":[
               "*/*"
            ],
			"parameters":[
				  {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    }
				],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/BankDTO"
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/cancel/{txnrefNo}/{txndateTime}":{
         "post":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"cancelPayment",
            "operationId":"cancelPaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"txndateTime",
                  "in":"path",
                  "description":"txndateTime",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"txnrefNo",
                  "in":"path",
                  "description":"txnrefNo",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/confirm/{txnrefNo}/{txndateTime}":{
         "post":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"confirmPayment",
            "operationId":"confirmPaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"txndateTime",
                  "in":"path",
                  "description":"txndateTime",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"txnrefNo",
                  "in":"path",
                  "description":"txnrefNo",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/inquire/{txnrefNo}/{txndateTime}":{
         "post":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"inquiryPayment",
            "operationId":"inquiryPaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"txndateTime",
                  "in":"path",
                  "description":"txndateTime",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"txnrefNo",
                  "in":"path",
                  "description":"txnrefNo",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/limit/{paymentRequestToken}":{
         "get":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"isNetBankingPaymentLimitBreached",
            "operationId":"isNetBankingPaymentLimitBreachedUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"boolean"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/pay/funding/addFund":{
         "post":{
            "tags":[
               "net-banking-funding-controller"
            ],
            "summary":"addFund",
            "operationId":"addFundUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "in":"body",
                  "name":"fundingCommand",
                  "description":"fundingCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/FundingCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/FundingCommand"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/pay/{paymentRequestToken}":{
         "post":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"payUsingNetbanking",
            "operationId":"payUsingNetbankingUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "in":"body",
                  "name":"netBankingInfo",
                  "description":"netBankingInfo",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/NetBankingInfo"
                  }
               },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/reverse/{txnrefNo}/{txndateTime}":{
         "post":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"reversePayment",
            "operationId":"reversePaymentUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"txndateTime",
                  "in":"path",
                  "description":"txndateTime",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"txnrefNo",
                  "in":"path",
                  "description":"txnrefNo",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/net-banking/verifyEmail":{
         "get":{
            "tags":[
               "net-banking-payment-controller"
            ],
            "summary":"verifyEmail",
            "operationId":"verifyEmailUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"email",
                  "in":"query",
                  "description":"email",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payment/cancel/{paymentRequestToken}":{
         "get":{
            "tags":[
               "payment-cancel-controller"
            ],
            "summary":"cancelPayment",
            "operationId":"cancelPaymentUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payment/client_config/merchant/{merchantCode}":{
         "get":{
            "tags":[
               "client-config-controller"
            ],
            "summary":"fetchMerchantConfigInfoByMerchantCode",
            "operationId":"fetchMerchantConfigInfoByMerchantCodeUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payment/client_config/{paymentRequestToken}":{
         "get":{
            "tags":[
               "client-config-controller"
            ],
            "summary":"fetchMerchantConfigInfo",
            "operationId":"fetchMerchantConfigInfoUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payment/{paymentRequestToken}":{
         "get":{
            "tags":[
               "client-config-controller"
            ],
            "summary":"getPaymentInfo",
            "operationId":"getPaymentInfoUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                },
               {
                  "name":"paymentRequestToken",
                  "in":"path",
                  "description":"paymentRequestToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/paymentMethod/test":{
         "get":{
            "tags":[
               "payment-method-controller"
            ],
            "summary":"status",
            "operationId":"statusUsingGET_3",
            "produces":[
               "*/*"
            ],
			"parameters":[
				  {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    }
				],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/paymentMethod/token":{
         "post":{
            "tags":[
               "payment-method-controller"
            ],
            "summary":"Generate payment Method Token post successful OTP Verification",
            "description":"Generate payment Method Token post successful OTP Verification",
            "operationId":"generatePaymentMethodTokenUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"Merchant-Code",
                  "in":"header",
                  "description":"Merchant-Code",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"paymentMethodCommand",
                  "description":"paymentMethodCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentMethodCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentMethodResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/paymentMethod/token/otp":{
         "post":{
            "tags":[
               "payment-method-controller"
            ],
            "summary":"Generate OTP for given paymentMethod",
            "description":"Generate OTP for given paymentMethod",
            "operationId":"generateOTPUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"Merchant-Code",
                  "in":"header",
                  "description":"Merchant-Code",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"body",
                  "name":"paymentMethodCommand",
                  "description":"paymentMethodCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentMethodCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentMethodResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/auth":{
         "post":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Multi Payment",
            "description":"For Prepare payment",
            "operationId":"authVoucherUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentCommand",
                  "description":"paymentCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/auth/token/{noqodiAuthToken}":{
         "get":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Auth Inquiry By Token Service",
            "description":"Auth Inquiry By Token Service",
            "operationId":"authInquiryByTokenUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"noqodiAuthToken",
                  "in":"path",
                  "description":"noqodiAuthToken",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/auth/{noqodiResponseId}":{
         "get":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Auth Inquiry Service",
            "description":"Auth Inquiry Service",
            "operationId":"authInquiryUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"noqodiResponseId",
                  "in":"path",
                  "description":"noqodiResponseId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/auth3D":{
         "post":{
            "tags":[
               "payment-controller"
            ],
            "summary":"3D AUTH CCD Payment",
            "description":"3D AUTH CCD Payment",
            "operationId":"auth3DUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentCommand",
                  "description":"paymentCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/authVerification":{
         "post":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Seamless Wallet Creation",
            "description":"For Wallet creation",
            "operationId":"authVerificationUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentCommand",
                  "description":"paymentCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/capture":{
         "post":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Multi Payment Capture",
            "description":"Capture Batch Pay with Service name and User ID",
            "operationId":"captureBatchPaySrvNamUserIDUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentCommand",
                  "description":"paymentCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/capture/{noqodiResponseId}":{
         "get":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Capture Inquiry Service",
            "description":"Capture Inquiry Service",
            "operationId":"captureInquiryUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"noqodiResponseId",
                  "in":"path",
                  "description":"noqodiResponseId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/complete":{
         "post":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Complete Pending Payment",
            "description":"For completing pending payments",
            "operationId":"completeUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			   {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentCommand",
                  "description":"paymentCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/netBanking/redirect":{
         "post":{
            "tags":[
               "net-banking-redirect-controller"
            ],
            "summary":"redirectToApp",
            "operationId":"redirectToAppUsingPOST_1",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
			"parameters":[
				  {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    }
				],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseEntity"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/preAuth":{
         "post":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Payment Request Token Service",
            "operationId":"preAuthUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"6a2e6e39-b8b1-45ed-9904-dced1f65b29b",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentCommand",
                  "description":"paymentCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/test":{
         "get":{
            "tags":[
               "payment-controller"
            ],
            "summary":"status",
            "operationId":"statusUsingGET_2",
            "produces":[
               "*/*"
            ],
		   "parameters":[
				  {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    }
				],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/voidAuth":{
         "post":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Multi Payment Void",
            "description":"For VOID payment",
            "operationId":"voidAuthUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"paymentCommand",
                  "description":"paymentCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PaymentCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/voidAuth/{noqodiResponseId}":{
         "get":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Void Auth Inquiry Service",
            "description":"Void Auth Inquiry Service",
            "operationId":"voidAuthInquiryUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"noqodiResponseId",
                  "in":"path",
                  "description":"noqodiResponseId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payments/xpress/{noqodiResponseId}":{
         "get":{
            "tags":[
               "payment-controller"
            ],
            "summary":"Xpress Payment Inquiry Service",
            "description":"Xpress Payment Inquiry Service",
            "operationId":"xpressPayInquiryUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"noqodiResponseId",
                  "in":"path",
                  "description":"noqodiResponseId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PaymentResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payouts":{
         "post":{
            "tags":[
               "payout-controller"
            ],
            "summary":"process payout request",
            "description":"process payout request",
            "operationId":"payoutUsingPOST_1",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"payoutCommand",
                  "description":"payoutCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PayoutCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payouts/limit":{
         "post":{
            "tags":[
               "payout-controller"
            ],
            "summary":"process payout limit request",
            "description":"process payout limit request",
            "operationId":"limitUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"payoutLimitCommand",
                  "description":"payoutLimitCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PayoutLimitCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payouts/merchant-ui/{merchantCode}/batchId/{merchantOrderId}":{
         "get":{
            "tags":[
               "payout-controller"
            ],
            "summary":"get payout details - hideInReport",
            "description":"payout inquiry",
            "operationId":"payoutInquiryMerchantPortalUsingGET",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"merchantOrderId",
                  "in":"path",
                  "description":"merchantOrderId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PayoutResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payouts/merchant/{merchantCode}/batchId/{merchantOrderId}":{
         "get":{
            "tags":[
               "payout-controller"
            ],
            "summary":"get payout details",
            "description":"payout inquiry",
            "operationId":"payoutInquiryUsingGET",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"merchantOrderId",
                  "in":"path",
                  "description":"merchantOrderId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PayoutResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         },
         "delete":{
            "tags":[
               "payout-controller"
            ],
            "summary":"delete payout details",
            "description":"delete payout",
            "operationId":"deleteUsingDELETE",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               },
               {
                  "name":"merchantOrderId",
                  "in":"path",
                  "description":"merchantOrderId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               }
            },
            "deprecated":false
         }
      },
      "/v2/payouts/{payoutBatchId}/transactions":{
         "get":{
            "tags":[
               "payout-controller"
            ],
            "summary":"Returns all transactions contributed for the given payout batch id along with all beneficaries payout balances",
            "description":"Returns all transactions contributed for the given payout batch id along with all beneficaries payout balances",
            "operationId":"payoutTransactionsInquiryUsingGET",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"limit",
                  "required":true,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"offset",
                  "required":true,
                  "type":"integer",
                  "format":"int32"
               },
               {
                  "name":"payoutBatchId",
                  "in":"path",
                  "description":"payoutBatchId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/PayoutTransactionInquiryResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/redirect":{
         "post":{
            "tags":[
               "credit-card-redirect-controller"
            ],
            "summary":"redirectToApp",
            "operationId":"redirectToAppUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "*/*"
            ],
			"parameters":[
				  {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    }
				],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ResponseEntity"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/refunds":{
         "post":{
            "tags":[
               "refund-controller"
            ],
            "summary":"Refund",
            "description":"For Business Refund",
            "operationId":"refundUsingPOST_1",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"refundCommand",
                  "description":"refundCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/RefundCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/Multi Transactions"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/refunds/complete":{
         "post":{
            "tags":[
               "refund-controller"
            ],
            "summary":"Complete Pending Refund",
            "description":"Complete Pending Refund",
            "operationId":"completeRefundUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"refundCommand",
                  "description":"refundCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/RefundCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/RefundResult"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/refunds/{noqodiResponseId}":{
         "get":{
            "tags":[
               "refund-controller"
            ],
            "summary":"Refund Inquiry Service",
            "description":"Refund Inquiry Service",
            "operationId":"refundInquiryUsingGET",
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "name":"noqodiResponseId",
                  "in":"path",
                  "description":"noqodiResponseId",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/RefundResult"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/services":{
         "post":{
            "tags":[
               "service-controller"
            ],
            "summary":"Create Service",
            "operationId":"createServiceUsingPOST",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
					{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"serviceCommand",
                  "description":"serviceCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ServiceCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         },
         "put":{
            "tags":[
               "service-controller"
            ],
            "summary":"Update Service",
            "operationId":"updateServiceUsingPUT",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
			{
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
               {
                  "in":"body",
                  "name":"serviceCommand",
                  "description":"serviceCommand",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/ServiceCommand"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"object"
                  }
               },
               "201":{
                  "description":"Created"
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/services/test":{
         "get":{
            "tags":[
               "service-controller"
            ],
            "summary":"status",
            "operationId":"statusUsingGET_5",
            "produces":[
               "*/*"
            ],
			"parameters":[
				  {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    }
				],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "type":"string"
                  }
               },
               "401":{
                  "description":"Unauthorized"
               },
               "403":{
                  "description":"Forbidden"
               },
               "404":{
                  "description":"Not Found"
               }
            },
            "deprecated":false
         }
      },
      "/v2/services/{merchantCode}":{
         "get":{
            "tags":[
               "service-controller"
            ],
            "summary":"Inquire Service by Merchant",
            "description":"Inquire Service by Merchant",
            "operationId":"inquireServicesByMerchantUsingGET",
            "produces":[
               "*/*"
            ],
            "parameters":[
				  {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization",
						"default":"Bearer tA24AWTxrAZOm0G5nGIUKq8tJyGW",
                        "required": true,
                        "type": "string"
                    },
				
               {
                  "name":"merchantCode",
                  "in":"path",
                  "description":"merchantCode",
                  "required":true,
                  "type":"string"
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{
                     "$ref":"#/definitions/ServiceCommand"
                  }
               },
               "401":{
                  "description":"Unauthorized"
[...]
